.container-fluid{
	width: 800px;
	margin: auto;
	border-radius: 10px;
	background-color: #eee;
	padding: 20px;
}
.title{
	font-size: 30px;
}
.group{
	border:2px solid grey;
	background-color: #fff;
	padding: 20px;
	margin-top: 10px;

}
.image{
	width: 200px;
	border:2px solid #888;
}
.btn{
	text-align: right;
	padding-left: 250px;
}
button{
	color: #fff;
	font-size: 25px;
	background-image: url(../images/listen.png);
	background-image: url(../images/add.png);

}